<ErrorBoundary>
    <ChildContent>
        <Router AppAssembly="typeof(Program).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                    <NotAuthorized>
                        <RedirectToLogin />
                    </NotAuthorized>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="routeData" Selector="h1" />
            </Found>
            <NotFound>
                <LayoutView Layout="typeof(Layout.MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </ChildContent>
    <ErrorContent Context="ex">
        <div class="alert alert-danger m-4" role="alert">
            <h4 class="alert-heading">Unhandled Error Occurred!</h4>
            <p>An unexpected error has occurred. Please contact support.</p>
            <hr>
            <details>
                <summary>Technical Details (Development)</summary>
                <pre class="mt-2 text-wrap">@ex.ToString()</pre>
            </details>
        </div>
    </ErrorContent>
</ErrorBoundary>
